

.enlaces a{
    color: blue;
}
.enlaces :hover{
    color: greenyellow;
}

.title{
    color: black;   
    font-size: 40px;
    font-weight: 1000;
    font-style: roboto;
}
.tituloSobreMi{
    color: black;
    font-weight: 1000;
    font-size: 25px;
  }

#redesSociales :hover{
    color: greenyellow;
  }
 

.tituloSoftSkills{
    color: black;
    font-weight: 1000;
    font-size: 25px;
}

.tituloSkills{
    color: black;
    font-weight: 1000;
    font-size: 25px;
}

.tituloHobbies{
    color: black;
    font-weight: 1000;
    font-size: 25px;
 }
 .tituloFormacion{
    color: black;
    font-weight: 1000;
    font-size: 25px;
 }
 #cursos h1{
    color: black;
    font-weight: 1000;
    font-size: 25px;
 }

 #contacto h1{
    color: black;
    font-weight: 1000;
    font-size: 25px;
 }

 .whatsapp{
    color: green;
 }
 .email{
    background: linear-gradient(to right, red, orange,  green, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
 }
 .enlacesExternos :hover{
    color: greenyellow;
}